{% extends "frontend/base.html.twig" %}

{% block title %}{{ parent() }} · {{ post.name }}{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid jumbotron-homepage" style="background-image:url('{{ asset('build/abstract-abstraction.png') }}');">
        <div class="container pt-2 pb-1">
            <h1 class="display-6 text-white">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('front_blog') }}" class="breadcrumb-anchor">{{ 'front.menu.blog' | trans | title }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ post.name }}</li>
                </ol>
            </h1>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid jumbotron-light">
        <div class="container">
            {% if not post.available %}
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-danger mb-0" role="alert">
                            <i class="fa exclamation-triangle"></i> {{ 'front.blog.draft' | trans }}
                        </div>
                    </div>
                </div>
            {% endif %}
{# TODO #}
{#            {% if tags | length > 0 %}#}
{#                <div class="row">#}
{#                    <div class="col-12 mb-3">#}
{#                        <ul class="nav">#}
{#                            {% for tag in tags %}#}
{#                                <li class="nav-item">#}
{#                                    <a class="nav-link" href="#">{{ tag.name }}</a>#}
{#                                </li>#}
{#                            {% endfor %}#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#            {% endif %}#}
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="card mt-3">
                        {% if post.imageName %}
                            <img src="{{ vich_uploader_asset(post, 'imageFile') | imagine_filter('480xY') }}" class="card-img-top" alt="{{ post.name }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title mb-0">{{ post.name }}</h5>
                            <span class="badge badge-pill badge-dark mb-2">{{ post.published | draw_i18n_date_string }}</span>
                            <p class="card-text mb-4">{{ post.shortDescription | raw }}</p>
                            <a href="{{ path('front_blog_post_detail', {year: post.published | date('Y'), month: post.published | date('m'), day: post.published | date('d'), slug: post.slug}) }}" class="btn btn-warning btn-sm">{{ 'front.events.read_more' | trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
