{% extends "frontend/base.html.twig" %}

{% block title %}{{ parent() }} · {{ 'front.menu.blog' | trans | title }}{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid jumbotron-homepage" style="background-image:url('{{ asset('build/abstract-abstraction.png') }}');">
        <div class="container pt-2 pb-1">
            <h1 class="display-6 text-white">{{ 'front.menu.blog' | trans | title }}</h1>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid jumbotron-light">
        <div class="container">
            {% if tags | length > 0 %}
                <div class="row">
                    <div class="col-12 mb-3">
                        <ul class="nav">
                            {% for tag in tags %}
                                <li class="nav-item">
                                    <a class="nav-link" href="#">{{ tag.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                {% for post in posts %}
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card mt-3">
                            {% if post.imageName %}
                                <img src="{{ vich_uploader_asset(post, 'imageFile') | imagine_filter('480xY') }}" class="card-img-top" alt="{{ post.name }}">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title mb-0">{{ post.name }}</h5>
                                <span class="badge badge-pill badge-dark mb-2">{{ post.published | draw_i18n_date_string }}</span>
                                <p class="card-text mb-4">{{ post.shortDescription | raw }}</p>
                                <a href="#{# path('front_event_activity', {category: activity.category.slug, activity: activity.slug}) #}" class="btn btn-warning btn-sm">{{ 'front.events.read_more' | trans }}</a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-12">
                        <div class="alert alert-warning mb-0" role="alert">
                            <i class="fa exclamation-triangle"></i> {{ 'front.events.empty_warning' | trans }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
