{% if hide_contact_form %}
    <div class="alert alert-success" role="alert">
        <i class="far fa-paper-plane"></i> {{ 'front.flash.contact_newsletter_send' | trans }}
    </div>
{% else %}
    {{ form_start(form) }}
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}
        {{ form_widget(form.email) }}
        {{ form_errors(form.email) }}
        {{ form_row(form.privacy) }}
        {{ form_rest(form) }}
    {{ form_end(form) }}
{% endif %}
