{% extends "@SonataAdmin/standard_layout.html.twig" %}

{# removes top search bar #}
{% block sonata_sidebar_search %}{% endblock %}

{# custom logo #}
{% block logo %}
    {% spaceless %}
        <a class="logo" href="{{ path('sonata_admin_dashboard') }}" style="background-color:#2c3b41;border-right:none">
            <img style="padding-bottom:1px;max-width:90px" src="{{ asset('build/vag_green.svg') }}" alt="VAG logo">
        </a>
    {% endspaceless %}
{% endblock %}

{# custom sidebar footer #}
{% block side_bar_after_nav %}
    <div class="btn-group" role="group" aria-label="languages selector" style="margin:50px 0 10px 20px">
        <a href="{{ path('sonata_admin_dashboard', {_locale: 'ca'}) }}" class="btn btn-primary btn-xs{% if app.request.locale == 'ca' %} active{% endif %}">català</a>
        <a href="{{ path('sonata_admin_dashboard', {_locale: 'es'}) }}" class="btn btn-primary btn-xs{% if app.request.locale == 'es' %} active{% endif %}">español</a>
        <a href="{{ path('sonata_admin_dashboard', {_locale: 'en'}) }}" class="btn btn-primary btn-xs{% if app.request.locale == 'en' %} active{% endif %}">english</a>
    </div>
    <p class="text-left small" style="padding-left:20px;color:#EEE;">{{ admin_tag_version }}<br><i class="fa fa-code"></i> Desenvolupat per <a href="https://www.flux.cat" target="_blank">Flux</a><br><i class="fa fa-copyright"></i> {{ 'now' | date('Y') }} <a href="{{ path('front_homepage') }}" target="_blank">{{ main_brand_title }}</a></p>
{% endblock %}
