{% for collaborator in collaborators %}
    <div class="col-12 col-sm-6 col-md-4">
        <div class="media mt-3">
            {% if collaborator.imageName %}
                <img src="{{ vich_uploader_asset(collaborator, 'imageFile') | imagine_filter('180x180') }}" alt="{{ collaborator.fullname }}" class="mr-3 rounded w-50">
            {% endif %}
            <div class="media-body">
                <p class="mt-0 mb-0"><strong>{{ collaborator.fullname }}</strong></p>
                <p class="text-muted mb-0">{{ collaborator.shortDescription | lower }}</p>
                {% if collaborator.city %}
                    <p class="mt-0 mb-0"><span class="badge badge-pill badge-secondary mb-2">{{ collaborator.city }}</span></p>
                {% endif %}
                <a href="{{ path('front_collaborator_detail', {slug: collaborator.slug}) }}" class="btn btn-warning btn-sm mt-2">{{ 'front.events.read_more' | trans }}</a>
            </div>
        </div>
    </div>
{% else %}
    <div class="col-12">
        <div class="alert alert-warning mb-0" role="alert">
            <i class="fa exclamation-triangle"></i> {{ 'front.events.empty_warning' | trans }}
        </div>
    </div>
{% endfor %}
