<div class="jumbotron jumbotron-fluid jumbotron-light">
    <div class="container">
        <div class="row">
            {% if show_title %}
                <div class="col-12">
                    <h5 class="mt-0">{{ 'front.events.featured_speakers' | trans }}</h5>
                </div>
            {% endif %}
            {% for speaker in speakers %}
                <div class="col-6 col-md-4">
                    <div class="media mt-3">
                        {% if speaker.imageName %}
                            <img src="{{ vich_uploader_asset(speaker, 'imageFile') | imagine_filter('180x180') }}" alt="{{ speaker.fullname }}" class="mr-3 rounded w-50">
                        {% endif %}
                        <div class="media-body">
                            <p class="mt-0 mb-0"><strong>{{ speaker.fullname }}</strong></p>
                            <p class="text-muted mb-2">{{ speaker.shortDescription }}</p>
                            <a href="#" class="btn btn-warning btn-sm">{{ 'front.events.read_more' | trans }}</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-12">
                    <div class="alert alert-warning mb-0" role="alert">
                        <i class="fa exclamation-triangle"></i> {{ 'front.events.empty_warning' | trans }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
