<div id="{{ main_highlights_carousel_id }}" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{{ asset('build/abstract-abstraction.png') }}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{{ asset('build/background-blur-bokeh-close-up.png') | imagine_filter('2000xY') }}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>A pharetra augue mollis interdum, nulla vitae elit libero</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{{ asset('build/creative-light-abstract-glowing-texture.png') | imagine_filter('2000xY') }}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{{ asset('build/creative-light-abstract-glowing.png') | imagine_filter('2000xY') }}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Fourth slide label</h5>
                <p>A pharetra augue mollis interdum, nulla vitae elit libero</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{{ asset('build/creative-wing-light.png') | imagine_filter('2000xY') }}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Fith slide label</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{{ asset('build/number-pattern-line-color.png') | imagine_filter('2000xY') }}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Sixth slide label</h5>
                <p>A pharetra augue mollis interdum, nulla vitae elit libero</p>
            </div>
        </div>
    </div>
</div>
