{% if mainHighlights | length > 0 %}
    <div class="container pt-5 pb-5">
        <h5 class="mt-0">{{ 'front.events.featured_speakers' | trans }}</h5>
        <div id="{{ highlights_carousel_id }}" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner row w-100 mx-auto">
                {% for collaborator in mainHighlights %}
                    <div class="carousel-item{% if loop.first %} active{% endif %}">
                        <div class="card">
                            {% if collaborator.imageName %}
                                <img class="card-img-top img-fluid" src="{{ vich_uploader_asset(collaborator, 'imageFile') | imagine_filter('480xY') }}" alt="{{ collaborator.fullname }}">
                            {% endif %}
                            <div class="card-body">
                                <h4 class="card-title">{{ collaborator.fullname }}</h4>
                                <p class="card-text">{{ collaborator.shortDescription }}</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#{{ highlights_carousel_id }}" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">{{ 'front.carrousel.previous' | trans }}</span>
            </a>
            <a class="carousel-control-next" href="#{{ highlights_carousel_id }}" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">{{ 'front.carrousel.next' | trans }}</span>
            </a>
        </div>
    </div>
{% else %}
    <div class="jumbotron jumbotron-fluid jumbotron-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h5 class="mt-0">{{ 'front.events.featured_speakers' | trans }}</h5>
                </div>
                <div class="col-sm-12">
                    <div class="alert alert-warning mb-0" role="alert">
                        <i class="fa exclamation-triangle"></i> {{ 'front.events.empty_warning' | trans }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
