<div class="jumbotron jumbotron-fluid jumbotron-light">
    <div class="container">
        <div class="row">
            {% if show_title %}
                <div class="col-12">
                    <h5 class="mt-0">{{ 'front.events.featured_speakers' | trans }}</h5>
                </div>
            {% endif %}
            {% for speaker in speakers %}
                <div class="col-6 col-md-4">
                    <div class="card">
                        {% if speaker.imageName %}
                            <img src="{{ vich_uploader_asset(speaker, 'imageFile') | imagine_filter('480xY') }}" class="card-img-top" alt="{{ activity.name }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title mb-0">{{ speaker.fullname }}</h5>
                            {#<span class="badge badge-pill badge-dark pull-right mb-2">{{ activity.beginString }}</span>#}
                            <p class="card-text mb-4">{{ speaker.shortDescription }}</p>
                            <a href="#" class="btn btn-warning btn-sm">{{ 'front.events.read_more' | trans }}</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-12">
                    <div class="alert alert-warning mb-0" role="alert">
                        <i class="fa exclamation-triangle"></i> {{ 'front.events.empty_warning' | trans }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
