<td{% if rowspan is defined %} rowspan="{{ rowspan }}"{% endif %}>
    <a href="{{ path('front_event_activity', {category: item.category.slug, activity: item.slug}) }}" class="text-white">{{ item.name }}</a><br>
    {#{% for collaborator in item.collaborators %}#}
        {#<span class="badge badge-danger mr-1"><i class="fas fa-user"></i> {{ collaborator.fullname }}</span>#}
    {#{% endfor %}{% if item.collaborators | length > 0 %}<br>{% endif %}#}
    <a href="{{ path('front_location_detail', {slug: item.location.slug}) }}"><span class="badge badge-primary"><i class="fas fa-map-marker-alt"></i> {{ item.location.place }}</span></a>
    {% if item.eventbriteId and show_tickets_button %}
        <br>
        <button id="eventbrite-button-id-{{ item.eventbriteId }}" class="btn btn-warning mt-3" type="button" data-toggle="modal"><i class="fas fa-ticket-alt"></i> {{ 'front.homepage.buy_tickets' | trans }} · {{ item.ticketPrice }} €</button>
        <script type="text/javascript">
            window.EBWidgets.createWidget({
                widgetType: "checkout",
                eventId: "{{ item.eventbriteId }}",
                modal: true,
                modalTriggerElementId: "eventbrite-button-id-{{ item.eventbriteId }}",
            });
        </script>
    {% endif %}
</td>
