<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        {% if google_analytics_enabled %}
            <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics_code }}"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', '{{ google_analytics_code }}');
            </script>
        {% endif %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="www.flux.cat">
        <title>{% block title %}VAG{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}">
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark-transparent fixed-top">
            <div class="d-flex flex-grow-1">
                <span class="w-100 d-lg-none d-block">{#<!-- hidden spacer to center brand on mobile -->#}</span>
                <a class="navbar-brand" href="{{ path('front_homepage') }}">
                    <img class="navbar-logo" src="{{ asset('build/vag_green.svg') }}" alt="VAG logo">
                </a>
                <div class="w-100 text-right">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#top-navbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
            <div class="collapse navbar-collapse flex-grow-1 text-right" id="top-navbar">
                {{ knp_menu_render('main', {currentClass: 'active'}) }}
            </div>
        </nav>
        {% block body %}{% endblock %}
        <div class="container-fluid dark-footer">
            <footer class="pt-4 pb-4">
                <div class="row">
                    <div class="col">
                        {#<img class="footer-logo mb-2" src="{{ asset('build/vag_green.svg') }}" alt="VAG logo">#}
                        {#<h6 class="text-white">&copy; {{ 'now'| date('Y') }} VAG</h6>#}
                        <h6 class="text-white">VAG</h6>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="{{ path('front_contact') }}">{{ 'front.footer.contact' | trans }}</a></li>
                            <li><a class="text-muted" href="{{ path('front_team') }}">{{ 'front.footer.team' | trans }}</a></li>
                            <li><a class="text-muted" href="{{ path('front_partners') }}">{{ 'front.footer.partners' | trans }}</a></li>
                            <li><a class="text-muted" href="{{ path('front_privacy_policy') }}">{{ 'front.footer.privacy' | trans }}</a></li>
                            <li><a class="text-muted" href="{{ path('front_legal_warning') }}">{{ 'front.footer.terms' | trans }}</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <h6 class="text-white">{{ 'front.footer.social_networks' | trans | title }}</h6>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="https://www.instagram.com/vagexperience" target="_blank">instagram</a></li>
                            <li><a class="text-muted" href="https://www.facebook.com/VAGExperience" target="_blank">facebook</a></li>
                            <li><a class="text-muted" href="https://twitter.com/VaGexperience" target="_blank">twitter</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        {{ render(controller('App\\Controller\\Front\\FrontendMainController::contactNewsletterFragment', {request: app.request})) }}
                    </div>
                    <div class="col-5 text-right">
                        <div class="btn-group" role="group" aria-label="language selector">
                            <a href="{{ path('front_homepage', {_locale: 'ca'}) }}" class="btn btn-sm btn-secondary{% if app.request.locale == 'ca' %} active{% endif %}">català</a>
                            <a href="{{ path('front_homepage', {_locale: 'es'}) }}" class="btn btn-sm btn-secondary{% if app.request.locale == 'es' %} active{% endif %}">español</a>
                            <a href="{{ path('front_homepage', {_locale: 'en'}) }}" class="btn btn-sm btn-secondary{% if app.request.locale == 'en' %} active{% endif %}">english</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </body>
</html>
