<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}VAG{% endblock %}</title>
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="d-flex flex-grow-1">
                <span class="w-100 d-lg-none d-block">{#<!-- hidden spacer to center brand on mobile -->#}</span>
                <a class="navbar-brand" href="{{ path('front_homepage') }}">VAG</a>
                <div class="w-100 text-right">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#top-navbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
            <div class="collapse navbar-collapse flex-grow-1 text-right" id="top-navbar">
                {{ knp_menu_render('main', {currentClass: 'active'}) }}
            </div>
        </nav>
        {% block body %}{% endblock %}
        <div class="container">
            <footer class="pt-4 my-md-5 pt-md-5 border-top">
                <div class="row">
                    <div class="col-12 col-md">
                        <img class="mb-2" src="{{ asset('build/vag_logo.png') }}" alt="VAG logo" width="70">
                        <small class="d-block mb-3 text-muted">&copy; {{ 'now'| date('Y') }}</small>
                    </div>
                    <div class="col-6 col-md text-right">
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="#">contact</a></li>
                            <li><a class="text-muted" href="#">team</a></li>
                            <li><a class="text-muted" href="#">privacy</a></li>
                            <li><a class="text-muted" href="#">terms</a></li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </body>
</html>
