{% extends "frontend/base.html.twig" %}

{% block title %}{{ parent() }} · {{ participant.fullname }}{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid jumbotron-homepage" style="background-image:url('{{ asset('build/creative-light-abstract-glowing.png') }}');">
        <div class="container pt-2 pb-1">
            <h1 class="display-6 text-white">
                <nav aria-label="breadcrumb mb-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('front_collaborators') }}" class="breadcrumb-anchor">{{ 'front.events.speakers' | trans | title }}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ participant.fullname }}</li>
                    </ol>
                </nav>
            </h1>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid mb-0">
        <div class="container">
            <div class="row">
                {% if participant.imageName %}
                    <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3">
                        <img src="{{ vich_uploader_asset(participant, 'imageFile') | imagine_filter('480xY') }}" class="img-responsive rounded w-100 mb-2" alt="{{ participant.fullname }}">
                        {% if participant.link %}
                            <a href="{{ participant.link }}" target="_blank">{{ participant.link | remove_url_protocol }}</a>
                        {% endif %}
                    </div>
                {% endif %}
                <div class="col-12 col-sm-6 col-md-7 col-lg-8 col-xl-9">
                    <h5 class="text-muted mt-0 mb-0">{{ participant.shortDescription | capitalize }}</h5>
                    {% if participant.job or participant.company %}
                        <p class="mb-0">{{ participant.job }} {% if participant.company %}({{ participant.company }}){% endif %}</p>
                    {% endif %}
                    {% if participant.city %}
                        <p class="mt-0 mb-0"><span class="badge badge-pill badge-secondary mb-2">{{ participant.city }}</span></p>
                    {% endif %}
                    <hr>
                    <p class="mb-2">{{ participant.description | raw }}</p>
                </div>
            </div>
        </div>
    </div>
    {# Activities section #}
    <div class="jumbotron jumbotron-fluid jumbotron-light">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h5 class="mt-0">{{ 'front.events.activities' | trans }}</h5>
                </div>
                {% include "frontend/includes/event_activity_cards.html.twig" with {activities: participant.eventActivities} %}
            </div>
        </div>
    </div>
{% endblock %}
