{% extends "frontend/base.html.twig" %}

{% block body %}
    <div class="jumbotron jumbotron-fluid jumbotron-homepage" style="background-image:url('{{ asset('build/abstract-abstraction.png') }}');">
        <div class="container">
            <h1 class="display-6 text-white">{{ 'front.homepage.jumbotron_1' | trans | raw }}</h1>
            <p class="lead text-white">{{ 'front.homepage.jumbotron_2' | trans }}</p>
            <a class="btn btn-warning" href="{{ path('front_tickets') }}" role="button">{{ 'front.homepage.buy_tickets' | trans }}</a>
        </div>
    </div>
    {% include "frontend/includes/event_activity_card.html.twig" with {activities: activities} %}
{% endblock %}
