{% extends "frontend/base.html.twig" %}

{% block body %}
    {# Main heading section #}
    <div class="jumbotron jumbotron-fluid jumbotron-homepage" style="background-image:url('{{ asset('build/abstract-abstraction-artistic.png') | imagine_filter('flip_x') }}');">
        <div class="container">
            <h1 class="display-6 text-white add-margin-top">{{ 'front.homepage.jumbotron_1' | trans | raw }}</h1>
            <p class="lead text-white">{{ 'front.homepage.jumbotron_2' | trans }}</p>
            <a class="btn btn-warning" href="{{ path('front_tickets') }}" role="button">{{ 'front.homepage.buy_tickets' | trans }}</a>
        </div>
    </div>
    {# Main stats section #}
    <div class="jumbotron jumbotron-fluid jumbotron-dark">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="lead text-white">{{ 'front.homepage.jumbotron_3' | trans }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card-deck">
                        {% for category in categories if category.eventActivities | length > 0 %}
                            <div class="card text-white" style="background-color:{{ category.color }}">
                                <div class="card-body">
                                    <h2 class="card-title text-center">{{ category | icon | raw }}</h2>
                                    <p class="card-text text-center">{{ category.eventActivities | length }} {{ category.name }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# Main hightlights section #}
    {% include "frontend/includes/homepage_higlights_silder.html.twig" with {highlights_carousel_id: 'main-highlights-carousel'} %}
    {# First event section #}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <img src="{{ asset('build/vag_experience.png') }}" class="img-fluid" alt="VAG experience logo">
                </div>
                <div class="col-10">
                    <h2 class="display-6">{{ 'front.homepage.jumbotron_4' | trans | raw }}</h2>
                    <p class="lead no-margin-bottom">{{ 'front.homepage.jumbotron_5' | trans }}</p>
                </div>
            </div>
        </div>
    </div>
    {# Secondary hightlights section #}
    {% include "frontend/includes/homepage_secondary_higlights_silder.html.twig" with {highlights_carousel_id: 'secondary-highlights-carousel'} %}
{% endblock %}
