{% extends "frontend/base.html.twig" %}

{% block body %}
    {# Main heading section #}
    <div class="jumbotron jumbotron-fluid jumbotron-homepage" style="background-image:url('{{ asset('build/abstract-abstraction-artistic.png') | imagine_filter('flip_x') }}');">
        <div class="container">
            <h1 class="display-6 text-white">{{ 'front.homepage.jumbotron_1' | trans | raw }}</h1>
            <p class="lead text-white">{{ 'front.homepage.jumbotron_2' | trans }}</p>
            <a class="btn btn-warning" href="{{ path('front_tickets') }}" role="button">{{ 'front.homepage.buy_tickets' | trans }}</a>
        </div>
    </div>
    {# Main activity categories summary section #}
    <div class="jumbotron jumbotron-fluid mb-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="lead">{{ 'front.homepage.jumbotron_3' | trans }}</p>
                </div>
            </div>
            <div class="row">
                {% for category in categories %}
                    <div class="col-6 col-sm-4 col-md-3">
                        <div class="card text-white mb-3 mb-sm-3 mb-md-0" style="background-color:{{ category.color }}">
                            <div class="card-body">
                                <h2 class="card-title text-center">{{ category | icon | raw }}</h2>
                                <p class="card-text text-center">{% if category.eventActivities | length > 0 %}{{ category.eventActivities | length }} {% endif %}{{ category.name | title }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {# Highlighted collaborators section #}
    <div class="jumbotron jumbotron-fluid jumbotron-light">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h5 class="mt-0">{{ 'front.events.featured_speakers' | trans }}</h5>
                </div>
                {% include "frontend/includes/event_collaborator_cards.html.twig" with {collaborators: featuredSpeakers} %}
                {% if featuredSpeakers | length > 0 %}
                    <div class="col-12 mt-4 text-center">
                        <a href="{{ path('front_participants') }}" class="btn btn-outline-dark">{{ 'front.events.show_all_speakers' | trans }}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {# First event section #}
    <div class="jumbotron jumbotron-fluid jumbotron-homepage-secondary" style="background-image:url('{{ asset('build/background-blur-bokeh-close-up.png') }}');">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-md-2">
                    <img src="{{ asset('build/vag_experience.svg') }}" class="img-fluid mt-3 mb-3" alt="VAG experience logo">
                </div>
                <div class="col-sm-9 col-md-10">
                    <h2 class="display-6 text-white">{{ 'front.homepage.jumbotron_4' | trans | raw }}</h2>
                    <p class="lead mb-0 text-white">{{ 'front.homepage.jumbotron_5' | trans | raw }}</p>
                </div>
            </div>
        </div>
    </div>
    {# Hightlighted activities section #}
    <div class="jumbotron jumbotron-fluid jumbotron-light">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h5 class="mt-0">{{ 'front.events.highlighted_activities' | trans }}</h5>
                </div>
                {% include "frontend/includes/event_activity_cards.html.twig" with {activities: featuredActivities} %}
                {% if featuredActivities | length > 0 %}
                    <div class="col-12 mt-4 text-center">
                        <a href="{{ path('front_activities') }}" class="btn btn-outline-dark">{{ 'front.events.show_all_activities' | trans }}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
