{% extends "frontend/base.html.twig" %}

{% block body %}
    {#<div class="jumbotron jumbotron-fluid jumbotron-homepage" style="background-image:url('{{ asset('build/abstract-abstraction-artistic.png') | imagine_filter('flip_x') }}');">#}
    {#<div class="jumbotron jumbotron-fluid jumbotron-homepage" style="background-image:url('{{ asset('build/abstract-abstraction.png') }}');">#}
    <div class="jumbotron jumbotron-fluid jumbotron-homepage" style="background-image:url('{{ asset('build/nightlife-neon-techno.png') }}');">
    {#<div class="jumbotron jumbotron-fluid jumbotron-homepage" style="background-image:url('{{ asset('build/number-pattern-line-color.png') }}');">#}
        <div class="container">
            <h1 class="display-6 text-white">{{ 'front.homepage.jumbotron_1' | trans | raw }}</h1>
            <p class="lead text-white">{{ 'front.homepage.jumbotron_2' | trans }}</p>
            <a class="btn btn-warning" href="{{ path('front_tickets') }}" role="button">{{ 'front.homepage.buy_tickets' | trans }}</a>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid jumbotron-dark">
        <div class="container">
            <div class="card-deck">
                <div class="card text-white bg-danger">
                    <div class="card-body">
                        <h2 class="card-title text-center"><i class="fa fa-book-open"></i></h2>
                        <p class="card-text text-center">{{ 'front.homepage.card_deck_1' | trans }}</p>
                    </div>
                </div>
                <div class="card text-white bg-success">
                    <div class="card-body">
                        <h2 class="card-title text-center"><i class="fa fa-archway"></i></h2>
                        <p class="card-text text-center">{{ 'front.homepage.card_deck_2' | trans }}</p>
                    </div>
                </div>
                <div class="card text-white bg-primary">
                    <div class="card-body">
                        <h2 class="card-title text-center"><i class="fa fa-wrench"></i></h2>
                        <p class="card-text text-center">{{ 'front.homepage.card_deck_3' | trans }}</p>
                    </div>
                </div>
                <div class="card text-white bg-warning">
                    <div class="card-body">
                        <h2 class="card-title text-center"><i class="fa fa-mask"></i></h2>
                        <p class="card-text text-center">{{ 'front.homepage.card_deck_4' | trans }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
