{% extends "frontend/base.html.twig" %}

{% block title %}{{ parent() }} · {{ location.place }}{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid jumbotron-homepage" style="background-image:url('{{ asset('build/number-pattern-line-color.png') }}');">
        <div class="container pt-2 pb-1">
            <h1 class="display-6 text-white">
                <nav aria-label="breadcrumb mb-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('front_locations') }}" class="breadcrumb-anchor">{{ 'front.events.locations' | trans | title }}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ location.place }}</li>
                    </ol>
                </nav>
            </h1>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid mb-0">
        <div class="container">
            <div class="row">
                {% if location.imageName %}
                    <div class="col-6">
                        <img src="{{ vich_uploader_asset(location, 'imageFile') | imagine_filter('800x600') }}" class="img-responsive rounded w-100 mb-2" alt="{{ location.place }}">
                        <a href="{{ location.link }}">{{ location.link | remove_url_protocol }}</a>
                    </div>
                {% endif %}
                <div class="col-6">
                    <div id="gmap" style="height:100%;"></div>
                </div>
                <div class="col-6">
                    {% if not location.isTourismMarketResource %}
                        {% if location.eventActivities | length > 1 %}
                            <span class="badge badge-dark">{{ location.eventActivities | length }} {{ 'front.events.activities' | trans | lower }}</span>
                            <br>
                        {% endif %}
                    {% else %}
                        <p class="mb-2">{{ location.description }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {# Activities section #}
    <div class="jumbotron jumbotron-fluid jumbotron-light">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h5 class="mt-0">{{ 'front.events.activities' | trans }}</h5>
                </div>
                {% include "frontend/includes/event_activity_cards.html.twig" with {activities: location.eventActivities} %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&hl={{ app.request.locale }}&callback=initMap"></script>
    <script type="text/javascript">
        let map;
        let marker;
        function initMap() {
            map = new google.maps.Map(document.getElementById('gmap'), {
                center: {lat: {{ location.latitude }}, lng: {{ location.longitude}}},
                zoom: 17
            });
            marker = new google.maps.Marker({
                position: {lat: {{ location.latitude }}, lng: {{ location.longitude}}},
                map: map
            });
        }
    </script>
{% endblock %}
