{% extends "frontend/base.html.twig" %}

{% block title %}{{ parent() }} · {{ 'front.menu.partners' | trans | title }}{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid jumbotron-homepage" style="background-image:url('{{ asset('build/creative-wing-light.png') }}');">
        <div class="container pt-2 pb-1">
            <h1 class="display-6 mb-0 text-white">{{ 'front.menu.partners' | trans | title }}</h1>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid mb-0">
        <div class="container">
            <div class="row">
                {% include "frontend/includes/collaborator_or_partner_cards.html.twig" with {partners: partners, mode: constant('App\\Enum\\PartnerCategoryEnum::PARTNER')} %}
            </div>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid jumbotron-homepage" style="background-image:url('{{ asset('build/creative-wing-light.png') | imagine_filter('flip_x') }}');">
        <div class="container mt-0 pt-2 pb-1">
            <h1 class="display-6 text-white">{{ 'admin.label.collaborators' | trans | title }}</h1>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid mb-0">
        <div class="container">
            <div class="row">
                {% include "frontend/includes/collaborator_or_partner_cards.html.twig" with {partners: collaborators, mode: constant('App\\Enum\\PartnerCategoryEnum::COLLABORATOR')} %}
            </div>
        </div>
    </div>
{% endblock %}
