{% extends "frontend/base.html.twig" %}

{% block body %}
    <div class="jumbotron jumbotron-fluid jumbotron-homepage" style="background-image:url('{{ asset('build/creative-light-abstract-glowing.png') }}');">
        <div class="container">
            <h1 class="display-6 text-white">{{ participant.fullname }}</h1>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid mb-0">
        <div class="container">
            <div class="row">
                {% if participant.imageName %}
                    <div class="col-3">
                        <img src="{{ vich_uploader_asset(participant, 'imageFile') | imagine_filter('480xY') }}" class="card-img-top" alt="{{ participant.fullname }}">
                    </div>
                {% endif %}
                <div class="col-9">
                    <h5 class="mt-0">{{ participant.shortDescription }}</h5>
                    <p class="text-muted mb-2">{{ participant.description }}</p>
                    {% if participant.link %}
                        <a href="{{ participant.link }}" target="_blank">{{ participant.link }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {# Secondary hightlights section #}
    {% include "frontend/includes/event_activity_card.html.twig" with {activities: participant.eventActivities, show_title: true} %}
{% endblock %}
