{% extends "frontend/base.html.twig" %}

{% block title %}{{ parent() }} · {{ 'front.menu.team' | trans | title }}{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid jumbotron-homepage" style="background-image:url('{{ asset('build/creative-wing-light.png') }}');">
        <div class="container pt-2 pb-1">
            <h1 class="display-6 text-white">{{ 'front.menu.team' | trans | title }}</h1>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid mb-0">
        <div class="container">
            <div class="row">
                {% if members | length > 0 %}
                    {% for member in members %}
                        <div class="col">
                            <div class="card">
                                {% if member.imageName %}
                                    <img src="{{ vich_uploader_asset(member, 'imageFile') | imagine_filter('480x480_BW') }}" class="card-img-top" alt="{{ member.fullname }}">
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title mb-0">{{ member.fullname }}</h5>
                                    {% if member.job %}
                                        <p class="card-text text-muted">{{ member.job }}</p>
                                    {% endif %}
                                    {% if member.link %}
                                        <a href="{{ member.link }}">{% if member.linkName %}{{ member.linkName }}{% else %}{{ member.link | remove_url_protocol }}{% endif %}</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col-12">
                        <div class="alert alert-warning mb-0" role="alert">
                            <i class="fa exclamation-triangle"></i> {{ 'front.events.empty_warning' | trans }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
