{% extends "frontend/base.html.twig" %}

{% block title %}{{ parent() }} · {{ 'front.menu.tickets' | trans | title }}{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid jumbotron-homepage" style="background-image:url('{{ asset('build/background-blur-bokeh-close-up.png') }}');">
        <div class="container pt-2 pb-1">
            <h1 class="display-6 text-white">{{ 'front.menu.tickets' | trans | title }}</h1>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid jumbotron-light">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <table class="table table-bordered table-dark table-hover">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col" class="text-center">04/10/2019</th>
                            <th scope="col" class="text-center">05/10/2019</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="bg-warning">
                            <th scope="row" colspan="3" class="text-center">matí</th>
                        </tr>
                        <tr>
                            <th scope="row" class="text-center">10:00h</th>
                            <td></td>
                            <td>Tallers Auditori</td>
                        </tr>
                        <tr class="bg-info">
                            <th scope="row" colspan="3" class="text-center">tarde</th>
                        </tr>
                        <tr>
                            <th scope="row" class="text-center">18:00h</th>
                            <td></td>
                            <td>Conferència emprenedoria</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-center">19:00h</th>
                            <td></td>
                            <td>Projecció Documental</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-center">19:30h</th>
                            <td>
                                {{ firstFridayConference.name }}<br>
                                <span class="badge badge-danger"><i class="fas fa-user"></i> {{ firstFridayConference.collaborators[0].fullname }}</span><br>
                                <span class="badge badge-primary"><i class="fas fa-map-marker-alt"></i> {{ firstFridayConference.location.place }}</span>
                            </td>
                            <td>Debat sobre documental</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-center">20:30h</th>
                            <td>
                                {{ secondFridayConference.name }}<br>
                                <span class="badge badge-danger"><i class="fas fa-user"></i> {{ secondFridayConference.collaborators[0].fullname }}</span><br>
                                <span class="badge badge-primary"><i class="fas fa-map-marker-alt"></i> {{ secondFridayConference.location.place }}</span>
                            </td>
                            <td></td>
                        </tr>
                        <tr class="bg-primary">
                            <th scope="row" colspan="3" class="text-center">nit</th>
                        </tr>
                        <tr>
                            <th scope="row" class="text-center">22:30h</th>
                            <td>
                                {{ fridayShow.name }}<br>
                                <span class="badge badge-primary"><i class="fas fa-map-marker-alt"></i> {{ fridayShow.location.place }}</span>
                            </td>
                            <td><i class="far fa-question"></i></td>
                        </tr>
                        </tbody>
                    </table>
                    {#<div class="alert alert-warning mb-0" role="alert">#}
                        {#<i class="fa exclamation-triangle"></i> {{ 'front.events.empty_warning' | trans }}#}
                    {#</div>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
