{% extends "frontend/base.html.twig" %}

{% block title %}{{ parent() }} · {{ 'front.menu.tickets' | trans | title }}{% endblock %}

{% block javascripts_head %}
    <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>
{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid jumbotron-homepage" style="background-image:url('{{ asset('build/background-blur-bokeh-close-up.png') }}');">
        <div class="container pt-2 pb-1">
            <h1 class="display-6 text-white">{{ 'front.menu.tickets' | trans | title }}</h1>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid jumbotron-light">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-dark mb-0">
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col" class="text-center">{{ firstFridayConference.begin | draw_i18n_date_string }}</th>
                                <th scope="col" class="text-center">{{ firstSaturdayWorkshop.begin | draw_i18n_date_string }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="bg-info">
                                <th scope="row" colspan="3" class="text-center">{{ 'front.calendar.morning' | trans }}</th>
                            </tr>
                            <tr>
                                <th scope="row" rowspan="4" class="text-center align-middle">
                                    {{ firstSaturdayWorkshop.begin | date('H:i') }}h<br>
                                    {{ 'front.calendar.to' | trans }}<br>
                                    {{ firstSaturdayWorkshop.end | date('H:i') }}h
                                </th>
                                <td rowspan="4"></td>
                                {% include "frontend/includes/timetable_ticket_cell.html.twig" with {item: firstSaturdayWorkshop, show_tickets_button: true} %}
                            </tr>
                            <tr>
                                {% include "frontend/includes/timetable_ticket_cell.html.twig" with {item: secondSaturdayWorkshop, show_tickets_button: true} %}
                            </tr>
                            <tr>
                                {% include "frontend/includes/timetable_ticket_cell.html.twig" with {item: thirdSaturdayWorkshop, show_tickets_button: true} %}
                            </tr>
                            <tr>
                                {% include "frontend/includes/timetable_ticket_cell.html.twig" with {item: fourthSaturdayWorkshop, show_tickets_button: true} %}
                            </tr>
                            <tr class="bg-info">
                                <th scope="row" colspan="3" class="text-center">{{ 'front.calendar.afternoon' | trans }}</th>
                            </tr>
                            <tr>
                                <th scope="row" class="text-center align-middle">
                                    18:00h<br>
                                    {{ 'front.calendar.to' | trans }}<br>
                                    19:00h
                                </th>
                                <td></td>
                                <td><i class="far fa-question"></i></td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-center align-middle">
                                    {{ saturdayDocumentaryFilm.begin | date('H:i') }}h<br>
                                    {{ 'front.calendar.to' | trans }}<br>
                                    {{ saturdayDocumentaryFilm.end | date('H:i') }}h
                                </th>
                                <td></td>
                                {% include "frontend/includes/timetable_ticket_cell.html.twig" with {item: saturdayDocumentaryFilm, show_tickets_button: false} %}
                            </tr>
                            <tr>
                                <th scope="row" rowspan="2" class="text-center align-middle">
                                    {{ firstFridayConference.begin | date('H:i') }}h<br>
                                    {{ 'front.calendar.to' | trans }}<br>
                                    {{ secondFridayConference.end | date('H:i') }}h
                                </th>
                                {% include "frontend/includes/timetable_ticket_cell.html.twig" with {item: firstFridayConference, show_tickets_button: false} %}
                                {% include "frontend/includes/timetable_ticket_cell.html.twig" with {item: saturdayRoundTable, rowspan: 2, show_tickets_button: false} %}
                            </tr>
                            <tr>
                                {% include "frontend/includes/timetable_ticket_cell.html.twig" with {item: secondFridayConference, show_tickets_button: false} %}
                            </tr>
                            <tr>
                                <th scope="row" class="text-center align-middle"></th>
                                <td>
                                    {% if firstFridayConference.eventbriteId %}
                                        <button id="eventbrite-button-id-{{ firstFridayConference.eventbriteId }}" class="btn btn-warning" type="button" data-toggle="modal"><i class="fas fa-ticket-alt"></i> {{ 'front.homepage.lock_entrance' | trans | capitalize }} · 0 €</button>
                                        <script type="text/javascript">
                                            window.EBWidgets.createWidget({
                                                widgetType: "checkout",
                                                eventId: "{{ firstFridayConference.eventbriteId }}",
                                                modal: true,
                                                modalTriggerElementId: "eventbrite-button-id-{{ firstFridayConference.eventbriteId }}",
                                            });
                                        </script>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if saturdayRoundTable.eventbriteId %}
                                        <button id="eventbrite-button-id-{{ saturdayRoundTable.eventbriteId }}" class="btn btn-warning" type="button" data-toggle="modal"><i class="fas fa-ticket-alt"></i> {{ 'front.homepage.lock_entrance' | trans | capitalize }} · 0 €</button>
                                        <script type="text/javascript">
                                            window.EBWidgets.createWidget({
                                                widgetType: "checkout",
                                                eventId: "{{ saturdayRoundTable.eventbriteId }}",
                                                modal: true,
                                                modalTriggerElementId: "eventbrite-button-id-{{ saturdayRoundTable.eventbriteId }}",
                                            });
                                        </script>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr class="bg-info">
                                <th scope="row" colspan="3" class="text-center">{{ 'front.calendar.night' | trans }}</th>
                            </tr>
                            <tr>
                                <th scope="row" class="text-center align-middle">
                                    {{ fridayShow.begin | date('H:i') }}h<br>
                                    {{ 'front.calendar.to' | trans }}<br>
                                    {{ fridayShow.end | date('H:i') }}h
                                </th>
                                {% include "frontend/includes/timetable_ticket_cell.html.twig" with {item: fridayShow, show_tickets_button: true} %}
                                <td><i class="far fa-question"></i></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
