{% extends "frontend/base.html.twig" %}

{% block title %}{{ parent() }} · {{ 'front.menu.tickets' | trans | title }}{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid jumbotron-homepage" style="background-image:url('{{ asset('build/background-blur-bokeh-close-up.png') }}');">
        <div class="container pt-2 pb-1">
            <h1 class="display-6 text-white">{{ 'front.menu.tickets' | trans | title }}</h1>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid jumbotron-light">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <table class="table table-bordered table-dark">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col" class="text-center">{{ firstFridayConference.begin | draw_i18n_date_string }}</th>
                            <th scope="col" class="text-center">{{ firstSaturdayWorkshop.begin | draw_i18n_date_string }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="bg-warning">
                            <th scope="row" colspan="3" class="text-center">{{ 'front.calendar.morning' | trans }}</th>
                        </tr>
                        <tr>
                            <th scope="row" rowspan="4" class="text-center align-middle">
                                {{ firstSaturdayWorkshop.begin | date('H:i') }}h<br>
                                {{ 'front.calendar.to' | trans }}<br>
                                {{ firstSaturdayWorkshop.end | date('H:i') }}h
                            </th>
                            <td rowspan="4"></td>
                            {% include "frontend/includes/timetable_ticket_cell.html.twig" with {item: firstSaturdayWorkshop} %}
                        </tr>
                        <tr>
                            {% include "frontend/includes/timetable_ticket_cell.html.twig" with {item: secondSaturdayWorkshop} %}
                        </tr>
                        <tr>
                            {% include "frontend/includes/timetable_ticket_cell.html.twig" with {item: thirdSaturdayWorkshop} %}
                        </tr>
                        <tr>
                            {% include "frontend/includes/timetable_ticket_cell.html.twig" with {item: fourthSaturdayWorkshop} %}
                        </tr>
                        <tr class="bg-info">
                            <th scope="row" colspan="3" class="text-center">{{ 'front.calendar.afternoon' | trans }}</th>
                        </tr>
                        <tr>
                            <th scope="row" class="text-center align-middle">
                                18:00h<br>
                                {{ 'front.calendar.to' | trans }}<br>
                                19:00h
                            </th>
                            <td></td>
                            <td><i class="far fa-question"></i></td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-center align-middle">
                                {{ saturdayDocumentaryFilm.begin | date('H:i') }}h<br>
                                {{ 'front.calendar.to' | trans }}<br>
                                {{ saturdayDocumentaryFilm.end | date('H:i') }}h
                            </th>
                            <td></td>
                            {% include "frontend/includes/timetable_ticket_cell.html.twig" with {item: saturdayDocumentaryFilm} %}
                        </tr>
                        <tr>
                            <th scope="row" class="text-center align-middle">
                                {{ firstFridayConference.begin | date('H:i') }}h<br>
                                {{ 'front.calendar.to' | trans }}<br>
                                {{ firstFridayConference.end | date('H:i') }}h
                            </th>
                            {% include "frontend/includes/timetable_ticket_cell.html.twig" with {item: firstFridayConference} %}
                            {% include "frontend/includes/timetable_ticket_cell.html.twig" with {item: saturdayRoundTable, rowspan: 2} %}
                        </tr>
                        <tr>
                            <th scope="row" class="text-center align-middle">
                                {{ secondFridayConference.begin | date('H:i') }}h<br>
                                {{ 'front.calendar.to' | trans }}<br>
                                {{ secondFridayConference.end | date('H:i') }}h
                            </th>
                            {% include "frontend/includes/timetable_ticket_cell.html.twig" with {item: secondFridayConference} %}
                        </tr>
                        <tr class="bg-primary">
                            <th scope="row" colspan="3" class="text-center">{{ 'front.calendar.night' | trans }}</th>
                        </tr>
                        <tr>
                            <th scope="row" class="text-center align-middle">
                                {{ fridayShow.begin | date('H:i') }}h<br>
                                {{ 'front.calendar.to' | trans }}<br>
                                {{ fridayShow.end | date('H:i') }}h
                            </th>
                            {% include "frontend/includes/timetable_ticket_cell.html.twig" with {item: fridayShow} %}
                            <td><i class="far fa-question"></i></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>
{% endblock %}
